.settings-window {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: row;
}

.settings-option-container {
     display: flex;
     flex-direction: column;
     background: #1a1a1a;
     width: 20%;
     height: 100%;
     padding: 0 10px;
     box-sizing: border-box;
}

.settings-title-container {
     padding: 15px 10px;
     text-align: left;
}

.settings-title {
     font-family: "Science Gothic", sans-serif;
     font-size: 28px;
}

.settings-tab-window {
     width: 80%;
     height: 100%;
     background: #000;
}

.settings-options-list-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 100%;
}

.options {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 10px 20px;
     margin-bottom: 10px;
     /* background: #101010; */
}

.options:hover {
     background: #272727;
}

.options svg {
     width: 30px;
     height: 30px;
     margin-right: 10px;
}

.options .profile-label {
     font-size: 20px;
}