.window-container {
     width: 100%;
     height: 100%;
     align-items: start;
     overflow: hidden;
     z-index: 95;
}

.header {
     width: 100%;
     height: 60px;
     background-color: #000;
     font-family: "Science Gothic", sans-serif;
     font-size: large;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h2 {
     color: #fff;
     margin-left: 20px;
}

.profile-icon {
     width: 40px;
     height: 40px;
     border-radius: 50%;
}

.profile-icon-btn {
     background: transparent;
     border: none;
     padding: 5px 5px;
     margin: 10px;
     border-radius: 50%;
     cursor: pointer;
}

.todo-entry-container {
     width: 100%;
     padding: 20px 0;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     background-color: transparent;
}

.todo-entry-container .entry-container {
     width: 50%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.todo-entry-container .entry-container input {
     width: 100%;
     height: 40px;
     padding: 10px 10px;
     background: #2a2929;
     /* background: #1b1b1b; */
     border: 1px solid transparent;
     border-top-right-radius: 0 !important;
     border-bottom-right-radius: 0 !important;
     outline: none;
     font-family: "Poppins", sans-serif;
     border-radius: 5px;
     font-size: 16px;
}

.todo-entry-container .entry-container button {
     padding: 20px 15px;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}

.todo-list-container {
     width: 100%;
     height: 400px;
     overflow-x: hidden;
     overflow-y: auto;
}

.todo-items-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     padding: 20px;
}

.todo-item {
     width: 70%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background: #2a2929;
     margin-bottom: 10px;
     padding: 10px 15px;
     border-radius: 5px;
}

.todo-list-container .todo-list-title {
     font-family: "Science Gothic", sans-serif;
     font-size: x-large;
     margin-bottom: 10px;
     text-align: left;
     margin-right: 52%;
}

.todo-list-items {
     font-family: 'Poppins', sans-serif;
     font-size: large;
}

.todo-btn-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-right: 20px;
     width: 18%;
}

.tick-icon,
.x-icon {
     width: 20px;
     height: 20px;
     stroke: #2a2929;
     padding: 0px 10px;
}

.completed-todo-btn-container{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-right: 20px;
     width: 10%;
}

.no-todo-text {
     display: block;
     font-family: 'Poppins', sans-serif;
     font-size: large;
     color: #888;
     margin-top: 20px;
}