.loading-div-container {
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #000;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
}

#loading-div {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border-top: 4px solid #6a6767;
     border-right: 4px solid #252424;
     border-bottom: 4px solid #252424;
     border-left: 4px solid #252424;
     animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}