.profile-container {
     width: 100%;
     height: 100%;
}

.settings-tab-title-conatainer {
     padding: 20px;
     text-align: left;
     margin-left: 20px;
     font-size: 28px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.settings-tab-title-conatainer > span {
     font-family: "Science Gothic", sans-serif;
     border-bottom: 2px solid #cdc9c9;
}

.home-btn {
     padding: 10px 16px;
     font-size: 16px;
     display: flex;
     align-items: center;
}

.home-btn svg{
     margin-right: 5px;
}

.profile-data-container{
     width: 100%;
     height: 85%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.profile-data-container table tr td {
     font-size: 20px;
     text-align: left;
     padding: 15px 15px 15px 10px;
     padding-left: 10px;
}