.reset-password-container {
     width: 100%;
     height: 85%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 28px;
}

.reset-password-container input {
     width: 300px;
     height: 40px;
     margin: 10px 0;
     padding: 0 10px;
     font-size: 18px;
     outline: none;
     border: 1px solid #ccc;
     border-radius: 5px;
}

.warning {
     color: red;
     font-size: 16px;
     font-weight: 500;
     margin-left: 135px;
}

.reset-password-btn-container{
     display: flex;
     justify-content: end;
     width: 100%;
     margin-top: 10px;
}

.next-btn {
     background-color: #cacdca;
     color: rgb(32, 32, 32);
     padding: 7px 20px;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     margin-right: 30px;
     cursor: pointer;
}