.clear-section-window-container {
     height: 100%;
     width: 100%;
     background-color: #000;
}

.settings-tab-container {
     width: 100%;
     height: 60%;
     margin-top: 30px;
     text-align: left;
}

.warning-container {
     width: 92%;
     height: 50%;
     padding: 20px;
     margin-left: 20px;
     font-size: 22px;
     text-align: left;
}

.warning-title {
     color: red;
     font-size: 26px;
     font-weight: 600;
     margin-left: 40px;
     margin-bottom: 10px;
     text-align: left;
     border-bottom: 2px solid red;
}

.clear-btn-container {
     width: 100%;
     display: flex;
     justify-content: end;
}

.clear-btn-container button {
     width: 140px;
     height: 40px;
     margin-right: 30px;
     background-color: red;
     color: #fff;
     font-size: 18px;
     font-weight: 600;
     border: none;
     border-radius: 5px;
     display: flex;
     align-items: center;
     cursor: pointer;
}
.clear-btn-container button:hover {
     background-color: darkred;
}

.clear-btn-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: rgb(95, 2, 2);
}

.clear-btn-container button svg {
     width: 25px;
     height: 25px;
     margin-right: 5px;
}

.clear-btn-label {
     margin-right: 10px;
     font-size: 14px;
     font-weight: 500;
     color: #fff;
}